<nav aria-label="main navigation">
	<input type="checkbox" id="valikko" tabindex="0">
	<label for="valikko">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span class="sr">Avaa valikko</span>
	</label>
	<menu>
	{{ $page := . }}
	{{ range .Site.Menus.pdn }}
		<li>
			<span>{{ .Name }}</span>
			{{ if eq .Identifier "muuta" }}
				<menu class="right">
			{{ else }}
				<menu>
			{{ end }}
			{{ range .Children }}
				{{ if $page.IsMenuCurrent .Menu . }}
					<li class="active">
				{{ else }}
					<li>
				{{ end }}
					{{ if $page.IsMenuCurrent .Menu . }}
						<a aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
					{{ else }}
						<a href="{{ .URL }}">{{ .Name }}</a>
					{{ end }}
				</li>
				{{ if or (or ( eq .Identifier "savyalat" ) ( eq .Identifier "protokolla" )) ( eq .Identifier "taso_seli" ) }}
					<li aria-hidden="true"></li>
				{{ end }}
			{{ end }}
			</menu>
		</li>
	{{ end }}
	</menu>
</nav>