.menu-v, .menu-v ul
{
	border: 1px solid #ccc;
	border-top: none;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	z-index: 9;
	min-width: 150px;
}

/* Top level menu links style
---------------------------------------*/

.menu-v li
{
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 150px;
}
.menu-v li a
{
	border-top: 1px solid #ccc;
	display: block;
	/*overflow: auto; force hasLayout in IE7 */
	color: black;
	text-decoration: none;
	line-height: 20px;
	padding-left: 6px;
}
.menu-v ul li a
{
	line-height: 20px;
}

.menu-v li a.arrow:hover
{
	background-image: url(arrow2.gif);
	background-repeat: no-repeat;
	background-position: 96% 50%;
}

/*Sub level menu items
---------------------------------------*/
.menu-v li ul
{
	position: absolute;
	width: 150px; /*Sub Menu Items width */
	visibility: hidden;
}

.menu-v a.arrow
{
	background-image: url(arrow.gif);
	background-repeat: no-repeat;
	background-position: 96% 50%;
}

.menu-v ul li
{
	background: #FFF;
	background-image: none;
}
.menu-v ul li:hover, .menu-v ul li.onhover
{
	background: #FFF;
	background-image: none;
}

/* Holly Hack for IE \
* html .menu-v	li
{
	float:left;
	height: 1%;
}
* html .menu-v	li a
{
	height: 1%;
}*/
/* End */