body
{
	font-family: 'Roboto', sans-serif;
	font-size: .80em;
	text-indent: 0;
	word-spacing: 0;
	overflow-y: scroll;
}

a,p,span
{
	font-size: 100%;
}

h1,h2,h3,h4,strong,.bunder
{
	font-weight: bold !important;
}

h1
{
	margin-top: 1em;
	margin-bottom: .7em;
	font-size: 120%;
}

h2
{
	margin-top: .8em;
	margin-bottom: .5em;
	font-size: 115%;
}

h3
{
	margin-top: .6em;
	margin-bottom: .3em;
	font-size: 105%;
}

h4
{
	margin-top: .4em;
	margin-bottom: .3em;
	font-size: 100%;
}

p
{
	font-size: 100%;
	margin-top: .2em;
	margin-bottom: .5em;
}

#banner
{
	background: url('/resurssit/imagebar.jpg') no-repeat center;
	height: 200px;
}

#main-content
{
	padding-top: 2em;
	width: 90%;
	margin: auto;
	min-width: 740px;
	max-width: 1200px;
}

#banner h1
{
	margin: 0 auto;
	border-top: 60px transparent solid;
	padding-top: 24px;
	width: 340px;
	height: 80px;
	color: white;
	background: url('/resurssit/logo2.png') no-repeat;
}

#banner h1 span
{
	display: none;
}

#ohje
{
	display: inline !important;
	padding-left: 255px;
	font-size: 200%;
	font-weight: normal;
}

#content
{
	float: right;
	width: 78%;
}

#content h3 span
{
	font-weight: normal;
}

#content h2:first-child
{
	margin-top: 0;
}

.italic, em
{
	font-style: italic;
}

ol
{
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#content ul, #main ul
{
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#content ul li, #main ul li
{
	list-style-type: disc;
}

#content ol li
{
	list-style-type: decimal;
}

#navigation
{
	width: 20%;
	float: left;
	padding-bottom: 1em;
}

#navigation h2
{
	margin-top: 0em;
}

#navigation ul
{
	list-style: none;
	margin-left: .5em;
	margin-top: 0;
}

#navigation ul > li > ul
{
	display:none;
}

#navigation .plus:before
{
	content: "+";
	margin-right: 2px;
}

#navigation li
{
	margin-left: .2em;
}

#navigation li.plus
{
	margin-left: .4em;
}

#navigation ul > li:hover > ul, #navigation ul > li.selected > ul
{
	display: block;
}

ul, ol
{
	padding-left: .5em;
}

#valid, #license
{
	text-align: center;
	color: #808080;
	font-size: 80%;
}

#license a
{
	color: #000080;
}

#license
{
	padding-bottom: 2em;
	padding-top: 5em;
}

#main
{
	margin: 3em auto;
	padding: 0 15px;
	width: 100%;
	max-width: 600px;
}

figure
{
	display: inline-block;
}

.centered, figure figcaption
{
	text-align: center;
}

figcaption h4
{
	font-weight: normal;
}

.border img
{
	border: 1px solid #000000;
}

.fixed
{
	font-family: Consolas, monospace;
}

.recolor2, .magic2, .curves2, .levels
{
	margin: 1em auto;
}

.curves
{
	float: right;
	margin: 0.5em;
}

.bunder
{
	text-decoration: underline;
}

.magic
{
	width: 49%;
	margin: 1em auto;
	text-align: center;
}

.magic2
{
	width: 99%;
	margin: 1em auto;
	text-align: center;
}

.unattend
{
	width: 100%;
}

.unattend2
{
	width: 25%;
}

.colhelp
{
	width: 40%;
}

table.kbm
{
	width: 100%;
	font-size: 100%;
}

.kbm thead tr th
{
	text-decoration: underline;
	font-size: 108%;
	padding: .3em 0;
	font-weight: bolder;
}

.clear
{
	clear: both;
}

p.clear
{
	margin-top: 1.5em;
}

.tip h3, .note h3, .warning h3, .example h3
{
	z-index: 2;
	position: relative;
	height: 32px;
	width: 100px;
	background: url('/resurssit/icontip.png') no-repeat;
	padding-left: 35px;
	margin-left: 8px;
	margin-top: 4px;
}

.note h3
{
	background-image: url('/resurssit/iconnote.png');
}

.warning h3
{
	background-image: url('/resurssit/iconwarning.png');
}

.example h3
{
	background-image: url('/resurssit/iconexample.png');
}

/* PaleGreen #98FB98 */
.tip p, .note p, .warning p, .example p
{
	margin-bottom: -16px;
	z-index: 1;
	position: relative;
	top: -20px;
	padding-left: 40px;
	padding-right: 5px;
	border: thick #98FB98 solid;
	background-color: #97FA97;
	border-radius: 8px;
}

/* PaleGoldenRod #EEE8AA */
.note p
{
	background-color: #EEE8AA;
	border-color: #EDE7A9;
}

/* LightPink #FFB6C1 */
.warning p
{
	background-color: #FFB6C1;
	border-color: #FEB5C0;
}

/* SkyBlue #87CEEB */
.example p
{
	background-color: #87CEEB;
	border-color: #86CDEA;

}
