@charset "utf-8";

// Update Bulma's global variables
$widescreen-enabled: false;
$fullhd-enabled: false;
$notification-padding-ltr: .25rem .5rem .25rem .5rem;
$footer-background-color: #fff;
$footer-padding: 2rem;
$primary: #008571;
$success: #008571;
$info: #287cb8;
$danger: #da3a42;
$navbar-dropdown-arrow: $info;
$retina-dpi: 144dpi;

// Import only what you need from Bulma
// @import "utilities/all";
@import "utilities/initial-variables";
@import "utilities/functions";
@import "utilities/derived-variables";
@import "utilities/mixins";
@import "utilities/controls";
// @import "base/all";
@import "base/minireset";
@import "base/generic";
// @import "elements/all";
@import "elements/box";
@import "elements/button";
@import "elements/container";
@import "elements/content";
@import "elements/notification";
@import "elements/table";
@import "elements/tag";
// @import "form/all";
@import "form/shared";
@import "form/input-textarea";
@import "form/tools";
// @import "components/all";
@import "components/level";
@import "components/navbar";
@import "components/tabs";
// @import "grid/all";
// @import "helpers/all"
@import "layout/all";

//urls
$palkki: url(/resurssit/imagebar.jpg);
$vihje: url(/resurssit/tip.png);
$vihje2: url(/resurssit/tip@2x.png);
$huom: url(/resurssit/note.png);
$huom2: url(/resurssit/note@2x.png);
$varoitus: url(/resurssit/warning.png);
$varoitus2: url(/resurssit/warning@2x.png);
$esim: url(/resurssit/example.png);
$esim2: url(/resurssit/example@2x.png);
$sprite: url(/resurssit/tyokalut/tool_sprite.png);
$sprite2: url(/resurssit/tyokalut/tool_sprite@2x.png);

html {
	scroll-padding-top: $navbar-height;
}

body {
	font-size: .85em;
	text-indent: 0;
	word-spacing: 0;
	line-height: 1.15;
}

h1, h2, h3, h4, strong {
	font-weight: bold;
}

h1 {
	margin-top: 1em !important;
	margin-bottom: .7em !important;
	font-size: 120% !important;
}

h2 {
	margin-top: .8em !important;
	margin-bottom: .5em !important;
	font-size: 115% !important;
}

h3 {
	margin-top: .6em !important;
	margin-bottom: .3em !important;
	font-size: 105% !important;
}

h4, strong {
	margin-top: .4em !important;
	margin-bottom: .3em !important;
	font-size: 100% !important;
}

p {
	margin-top: .2em !important;
	margin-bottom: .5em !important;
	font-size: 100% !important;
}

a, span {
	font-size: 100% !important;
}

figure {
	margin: .5em 1em 1em 1em !important;
	display: inline-block !important;
	figcaption {
		padding-top: 4px;
	}
}

.footer {
	margin-top: 2em;
	> div.content {
		text-align: center;
		img {
			display: block;
			margin: 1em auto;
		}
	}
}

#navbar {
	justify-content: center;
	a {
		color: $black;
	}
	.navbar-dropdown {
		.navbar-item {
			padding: 0;
			a {
				width: 100%;
				padding: 0.375rem 1rem;
			}
		}		
	}
}

section.hero {
	background-color: #005577;
	.hero-body {
		background-image: $palkki;
		background-position: center;
		.level-item {
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				h1.title {
					font-weight: 600;
					color: white;
					font-size: 1.5rem !important;
					display: inline;
					margin: 0 0 0 .3em !important;
				}
			}
			
		}
		
	}
}

.content {
	dl {
		display: grid;
		grid-template-columns: 45fr 55fr;
		margin-top: 1em;
		dt, dd {
			border-top: 1px solid #dbdbdb;
			padding: .5em .75em;
		}
		dd {
			text-align: center;
			margin-left: 0;
			padding-left: 2em;
		}
	}

	ol {
		margin-left: 2em;
		margin-top: 1em;
		margin-bottom: 1em;
		padding-left: 1em;
	}

	ul {
		padding-left: 1em;
	}

	.tip, .note, .warning, .example {
		h3 {
			z-index: 2;
			position: relative;
			height: 32px;
			background-repeat: no-repeat;
			padding-left: 35px;
			margin-left: 8px;
			margin-top: 4px;
			background-size: contain;
		}
		p {
			margin-bottom: -16px !important;
			z-index: 1;
			position: relative;
			top: -20px;
			padding-left: 40px;
			padding-right: 5px;
			border-style: solid;
			border-width: thick;
			border-radius: 8px;
		}
		.text-white a {
			color: $white;
		}
		a {
			text-decoration: underline;
		}
	}

	.tip {
		h3 {
			background-image: $vihje;
			@media (min-resolution: $retina-dpi) {
				background-image: $vihje2;
			}
		}
		p {
			border-color: $success;
		}
	}

	.note {
		h3 {
			background-image: $huom;
			@media (min-resolution: $retina-dpi) {
				background-image: $huom2;
			}
		}
		p {
			border-color: $warning;
		}
	}

	.warning {
		h3 {
			background-image: $varoitus;
			@media (min-resolution: $retina-dpi) {
				background-image: $varoitus2;
			}
		}
		p {
			border-color: $danger;
		}
	}

	.example {
		h3 {
			background-image: $esim;
			@media (min-resolution: $retina-dpi) {
				background-image: $esim2;
			}
		}
		p {
			border-color: $info;
		}
	}

	.tabs-content li {
		display: none;
		list-style: none;
		&.is-active {
			display: block;
		}
		figure {
			display: inline-block;
		}
	}
		
	.tool {
		vertical-align: middle;
		margin: 0 3px;
		display: inline-block;
		background-repeat: no-repeat;
		background-image: $sprite;
		width: 16px;
		height: 16px;
		filter: drop-shadow(0 0 1px $grey);
		
		@media (min-resolution: $retina-dpi) {
			background-image: $sprite2;
			background-size: 41px 336px;
		}
		
		&.clonestamp {
			background-position: 0 0;
		}
		&.colorpicker {
			background-position: 0 -17px;
		}
		&.ellipticalselect {
			background-position: 0 -34px;
		}
		&.eraser {
			background-position: 0 -51px;
		}
		&.gradient {
			background-position: 0 -68px;
		}
		&.lassoselect {
			background-position: 0 -85px;
		}
		&.linecurve {
			background-position: 0 -102px;
		}
		&.magicwand {
			background-position: 0 -119px;
		}
		&.movecursor {
			background-position: 0 -136px;
			width: 25px;
			height: 25px;
		}
		&.moveselectedpixels {
			background-position: 0 -247px;
		}
		&.moveselection {
			background-position: -16px -247px;
		}
		&.paintbrush {
			background-position: 0 -162px;
		}
		&.paintbucket {
			background-position: 0 -179px;
		}
		&.pan {
			background-position: -16px -319px;
		}
		&.pencil {
			background-position: 0 -196px;
		}
		&.recolor {
			background-position: 0 -213px;
		}
		&.rectangleselect {
			background-position: 0 -230px;
		}
		&.select {
			background-position: 0 -247px;
			width: 32px;
		}
		&.shapes {
			background-position: 0 -264px;
			width: 41px;
			height: 20px;
		}
		&.text {
			background-position: 0 -285px;
		}
		&.tools {
			background-position: 0 -302px;
		}
		&.view {
			background-position: 0 -319px;
			width: 32px;
		}
		&.zoom {
			background-position: 0 -319px;
		}
	}
	
	table {
		tbody {
			tr {
				td:first-child, td[align] {
					font-family: $family-code;	
				}
			}
		}
	}
}

@media print {
	.hero, nav {
		display: none;
	}
	html.has-navbar-fixed-top, .section {
		padding: 0;
	}
}
