@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/utilities/sizing";
@import "bootstrap/utilities/borders";
@import "bootstrap/utilities/background";
@import "bootstrap/utilities/text";
@import "bootstrap/images";
@import "bootstrap/tables";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/badge";

//colors
$valkoinen: $white;
$harmaa: $gray-500;
$sininen: $indigo;

//urls
$palkki: url(/resurssit/imagebar.jpg);
$logo: url(/resurssit/logo2.png);
$vihje: url(/resurssit/icontip.png);
$huom: url(/resurssit/iconnote.png);
$varoitus: url(/resurssit/iconwarning.png);
$esim: url(/resurssit/iconexample.png);

body {
	font-size: .85em;
	text-indent: 0;
	word-spacing: 0;
	overflow-y: scroll;
	line-height: 1.15;
}
h1, h2, h3, h4, strong {
	font-weight: bold;
}
h1 {
	margin-top: 1em;
	margin-bottom: .7em;
	font-size: 120%;
}
h2 {
	margin-top: .8em;
	margin-bottom: .5em;
	font-size: 115%;
}
h3 {
	margin-top: .6em;
	margin-bottom: .3em;
	font-size: 105%;
}
h4 {
	margin-top: .4em;
	margin-bottom: .3em;
	font-size: 100%;
}
p {
	margin-top: .2em;
	margin-bottom: .5em;
	font-size: 100%;
}
a, span {
	font-size: 100%;
}

figure {
	padding: 5px;
}

#banner {
	background: $palkki no-repeat center;
	height: 200px;
	a {
		width: 340px;
		margin: 0 auto;
		&:hover {
			text-decoration: none;
		}
	}
	h1 {
		margin-top: 60px;
		padding-top: 10px;
		padding-left: 235px;
		color: $valkoinen;
		background: $logo no-repeat;
		font-weight: normal;
		font-size: 3.1em;
		height: 80px;
	}
}

.tab-content {
	margin-bottom: 10px;
	.tab-pane {
		border-left: 1px solid $harmaa;
		border-right: 1px solid $harmaa;
		border-bottom: 1px solid $harmaa;
		border-radius: 0 0 5px 5px;
		padding: 10px;
	}
}

.nav-tabs {
	.nav-item.show .nav-link, .nav-link.active {
		color: $valkoinen;
		background-color: $sininen;
		border-color: $harmaa $harmaa $valkoinen;
	}
}

.nav-link {
	padding: .4rem .8rem;
}

.badge {
	font-size: 100%;
}
.fixed {
	font-family: $font-family-monospace;
}
ol {
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
}
ul {
	padding-left: 1em;
}
.tip, .note, .warning, .example {
	h3 {
		z-index: 2;
		position: relative;
		height: 32px;
		width: 100px;
		background: $vihje no-repeat;
		padding-left: 35px;
		margin-left: 8px;
		margin-top: 4px;
	}
	p {
		margin-bottom: -16px;
		z-index: 1;
		position: relative;
		top: -20px;
		padding-left: 40px;
		padding-right: 5px;
		border-style: solid;
		border-width: thick;
		border-radius: 8px;
	}
	.text-white a {
		color: $valkoinen;
	}
	a {
		text-decoration: underline;
	}
}
.note {
	h3 {
		background-image: $huom;
	}
}
.warning {
	h3 {
		background-image: $varoitus;
	}
}
.example {
	h3 {
		background-image: $esim;
	}
}
.dropdown:hover > .dropdown-menu {
	display: block;
	margin-top: 0;
	margin-left: 20px;
}
.kbm tbody tr td {
	&:first-child {
		width: 45%;
	}
	&:nth-child(2) {
		text-align: center;
	}
}
