{{ partialCached "header.html" . }}
	<title>{{ .Title }} &middot; {{ .Site.Title }}</title>
	<meta name="description" content="{{ .Summary }}">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6Z3D64"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<section class="hero">
	<div class="hero-body">
		<div class="container">
			<div class="level">
				<div class="level-item">
					<a href="/"><img src="/favicon.png" alt="paint.net ohje" /></a>
					<a href="/"><h1 class="title">paint.net ohje</h1></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="content">
			<h2>{{ .Title }}{{ if .Params.tooltip }} <img src="/resurssit/tyokalut/pixel.png" class="tools bg-{{ .Params.tooltip }}" alt="{{ .Title }}" />{{ end }}</h2>
			{{ .Content }}
		</div>
		{{ partialCached "footer.html" . }}
	</div>
</section>
{{ partialCached "menu.html" . }}
{{ if .Params.tabs }} <script src="/js/tabs.min.js"></script> {{ end }}
<script src="/js/nav.min.js"></script>
</body>
</html>
