@charset "utf-8";

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300 900;
	font-display: swap;
	src: url('../fonts/Rubik.woff2') format('woff2');
	
}

:root {
	--header-height: 150px;
	--navbar-height: 3.5rem;
	--font-family: Rubik, Helvetica, Arial, sans-serif;
	--font-family-code: monospace;
	--purple: #da97f7;
	--success: #008575;
	--info: #287cb8;
	--danger: #da3a42;
	--warning: #ffe08a;
	--white: #fff;
	--black: #222;
	--grey: #aaa;
	--dark-purple: #700F99;
	--header-bg: #057;
	--background-color: var(--black);
	--text-color: var(--white);
	--inactive: var(--grey);
	--shadow-color: var(--grey);
	--navbar-bg-color: var(--black);
	--hamburger-color: var(--white);
}

@media (prefers-color-scheme: light) {
	:root {
		--inactive: #888;
		--background-color: var(--white);
		--text-color: var(--black);
		--shadow-color: var(--black);
		--navbar-bg-color: var(--white);
		--hamburger-color: var(--black);
		--purple: #8e13c3;
	}
}

html {
	background-color: var(--background-color);
	font-family: var(--font-family);
	scroll-padding-top: calc(var(--navbar-height) + 1rem);
	overflow: auto;
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
	font-family: var(--font-family);
	font-size: .85rem;
	text-indent: 0;
	word-spacing: 0;
	line-height: 1.10;
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	footer img {
		filter: invert(1);
	}
}

nav {
	position: fixed;
	top: 0;
	height: var(--navbar-height);
	display: flex;
	justify-content: center;
	background-color: var(--navbar-bg-color);
	z-index: 5;
	width: 100%;
	-webkit-user-select: none;
	user-select: none;
	& > menu {
        align-items: center;
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
		& a:hover {
			color: var(--purple);	
		}
		& > li {
			padding: 1rem;
			position: relative;
			& > span {
				padding-right: 2rem;
				display: block;
				&::after {
					border: 3px solid var(--purple);
					border-radius: 2px;
					border-right: 0;
					border-top: 0;
					content: " ";
					height: .5rem;
					margin-top: -.5rem;
					margin-left: .5rem;
					pointer-events: none;
					position: absolute;
					top: 50%;
					transform: rotate(-45deg);
					transform-origin: center;
					width: .5rem;
				}
			}
			&:hover, &.active {
				> menu {
					display: block;
					
				}
			}
			& > menu {
				position: absolute;
				background-color: var(--navbar-bg-color);
				padding: 0rem;
				margin-top: 1rem;
				border-radius: 4px;
				display: none;
				padding-left: 0;
				box-shadow: 0 0 5px var(--shadow-color);
				& > li {
					position: relative;
					padding: .1rem 1.25rem;
					line-height: 1.2;
					& a {
						white-space: nowrap;
						text-decoration: none;
						padding: .25rem 0;
						display: block;
						color: var(--text-color);
					}
					&:first-child a {
						padding-top: .5rem;
					}
					&:last-child a {
						padding-bottom: .5rem;
					}
					@media screen and (min-width: 1024px) { 
						&:empty {
							border-top: 1px solid var(--grey);
							margin: .25rem 0;
						}
					}
					&.active a {
						color: var(--purple);
					}
				}
				&.right {
					right: 0;
				}
			}
		}
		& li {
			list-style: none;
		}
	}
	& input {
		position: absolute;
		height: 0;
		width: 0;
		margin: 0;
		padding: 0;
		border: 0;
		outline: none;
		&:focus {
			~ label span {
				outline: 1px solid var(--purple);
			}
		}
	}
	@media screen and (max-width: 1024px) {
		display: block;
		& input:checked {
			& ~ menu {
				&::after {
					display: none;
				}
				display: block;
				height: calc(100vh - var(--navbar-height));
				& menu {
					position: relative;
					display: block;
					border: none;
					box-shadow: none;
				}
				width: 100%;
				background-color: var(--background-color);
				color: var(--text-color);
				& .divider {
					display: none;
				}
			}
			& ~ label span:nth-child(1) {
				transform: translateY(6px) rotate(45deg);
			}
			& ~ label span:nth-child(2) {
				opacity: 0;
			}
			& ~ label span:nth-child(3) {
				transform: translateY(-6px) rotate(-45deg);
			}
		}
		& > menu {
			margin-top: 0;
			display: none;
			overflow: auto;
			max-height: calc(100vh - var(--navbar-height));
			& li span::after {
				content: none;
			}
			& > li > menu > li {
				& a {
					white-space: normal;
				}
			}
		}
		& label {
			min-height: var(--navbar-height);
			width: var(--navbar-height);
			height: var(--navbar-bg-color);
			position: relative;
			margin-left: auto;
			display: flex;
			justify-content: center;
			background-color: transparent;
			border: 0;
			& span {
				transform-origin: center;
				transition-duration: 50ms;
				transition-property: background-color,opacity,transform;
				transition-timing-function: ease-out;
				height: 1px;
				width: 1.5rem;
				background-color: var(--hamburger-color);
				position: absolute;
				&:nth-child(1) {
					top: calc(50% - 6px);;
				}
				&:nth-child(2) {
					top: calc(50%);
				}
				&:nth-child(3) {
					top: calc(50% + 6px);
				}
			}
		}
	}
}

header {
	background-color: var(--header-bg);
	margin-top: var(--navbar-height);
	height: var(--header-height);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	{{ $imagebar_2000 := .Store.Get "imagebar_2000" }}
	{{ $imagebar_1200 := .Store.Get "imagebar_1200" }}
	{{ $imagebar_720 := .Store.Get "imagebar_720" }}
	{{ $convert_2000 := $imagebar_2000.Resize "2000x150 jpg" }}
	{{ $convert_1200 := $imagebar_2000.Resize "1200x150 jpg" }}
	{{ $convert_720 := $imagebar_2000.Resize "720x150 jpg" }}
	
	background-image: url('{{ ($convert_720 | resources.Fingerprint ).RelPermalink }}');

	@media screen and (min-width: 720px) {
		background-image: url('{{ ($convert_1200 | resources.Fingerprint ).RelPermalink }}');
	}
	@media screen and (min-width: 1200px) {
		background-image: url('{{ ($convert_2000 | resources.Fingerprint ).RelPermalink }}');
	}
	@supports(background-image: url('{{ ($imagebar_720 | resources.Fingerprint ).RelPermalink }}')) {
		background-image: url('{{ ($imagebar_720 | resources.Fingerprint ).RelPermalink }}');

		@media screen and (min-width: 720px) {
			background-image: url('{{ ($imagebar_1200 | resources.Fingerprint ).RelPermalink }}');
		}
		@media screen and (min-width: 1200px) {
			background-image: url('{{ ($imagebar_2000 | resources.Fingerprint ).RelPermalink }}');
		}
	}

	background-position: center;

	& a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		& h1 {
			font-weight: 600;
			color: white;
			font-size: 1.5rem;
			display: inline;
			margin: 0 0 0 .3rem;
			text-shadow: 0 0 15px black;
		}
	}
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem 3rem;
	@media screen and (max-width: 1024px) {
		padding: .5rem 1.5rem;
	}
	@media screen and (max-width: 600px) {
		padding: .1rem .5rem;
	}

	& h1, h2, h3, h4, strong {
		font-weight: 700;
		color: var(--purple);
	}
	
	& h1 {
		margin-top: 1rem;
		margin-bottom: .7rem;
		font-size: 120%;
	}
	
	& h2 {
		margin-top: .8rem;
		margin-bottom: .5rem;
		font-size: 115%;
		&:first-of-type {
			font-size: 150%;
		}
	}
	
	& h3 {
		margin-top: .6rem;
		margin-bottom: .3rem;
		font-size: 105%;
	}
	
	& h4, & strong {
		margin-top: .4rem;
		margin-bottom: .3rem;
		font-size: 100%;
	}
	
	& p {
		margin-top: .2rem;
		&:not(:first-child) {
			margin-bottom: .5rem;
		}
		margin-bottom: .5rem;
		font-size: 100%;
	}
	
	& a, & span {
		font-size: 100%;
		color: var(--text-color);
	}
	
	& figure {
		margin: .5rem 1rem 1rem 1rem;
		display: inline-block;
		& picture {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
			justify-content: center;
		}
		& figcaption {
			padding-top: 4px;
			text-align: center;
		}
	}

	& a {
		text-decoration: underline;
	}
	& dl {
		display: grid;
		grid-template-columns: 45fr 55fr;
		margin-top: 1rem;
		& dt, & dd {
			border-top: 1px solid var(--grey);
			padding: .5rem .75rem;
		}
		& dd {
			text-align: center;
			margin-left: 0;
			padding-left: 2rem;
		}
	}

	& ol {
		margin-left: 2rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-left: 1rem;
	}

	& ul {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	& pdn-tip, & pdn-note, & pdn-warning, & pdn-example {
		margin-top: 1rem;
  		display: block;
		& h3 {
			z-index: 2;
			position: relative;
			height: 32px;
			background-repeat: no-repeat;
			padding-left: 35px;
			margin-left: 8px;
			margin-top: 4px;
			background-size: contain;
		}
		& p {
			margin-bottom: -16px;
			z-index: 1;
			position: relative;
			top: -20px;
			border-style: solid;
			border-width: thick;
			border-radius: 8px;
			padding: 3px 5px 3px 45px;
			color: var(--white);
			& a {
				color: var(--white);
			}
		}
	}

	& pdn-tip {
		& h3 {
			background-image: url(/svg/tip.svg);
		}
		& p {
			border-color: var(--success);
			background-color: var(--success);
		}
	}
	& pdn-note {
		& h3 {
			background-image: url(/svg/note.svg);
		}
		& p {
			color: var(--black);
			border-color: var(--warning);
			background-color: var(--warning);
			& a {
				color: var(--black);
			}
			& strong {
				color: var(--dark-purple);
			}
		}
	}
	& pdn-warning {
		& h3 {
			background-image: url(/svg/warning.svg);
		}
		p {
			border-color: var(--danger);
			background-color: var(--danger);
		}
	}
	& pdn-example {
		& h3 {
			background-image: url(/svg/example.svg);
		}
		& p {
			border-color: var(--info);
			background-color: var(--info);
		}
	}

	& tabs-wrapper {
		display: block;
		padding: 1rem 0;
		& ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			& li {
				list-style: none;
				& label {
					align-items: center;
					border-bottom: 1px solid var(--inactive);
					color: var(--inactive);
					display: flex;
					justify-content: center;
					margin-bottom: .5rem;
					padding: .5rem;
					vertical-align: top;
					white-space: nowrap;
					&:hover {
						border-bottom-color: var(--purple);
						color: var(--purple);
					}
					cursor: pointer;
				}
				&.active label {
					border-bottom-color: var(--purple);
					color: var(--purple);
				}
			}
		}
		& tabs-content {
			display: block;
			box-shadow: 0 0 5px var(--shadow-color);
			border-radius: 5px;
			padding: 1rem;
			& tab-content {
				display: none;
			}
			& input {
				display: none;
			}
			& input:checked + tab-content {
				display: block;
			}
		}
	}

	& pdn-tag {
		border-radius: 4px;
		color: var(--white);
		padding: .25rem .5rem;
		margin: 0 .1rem;
		height: 1rem;
		display: inline-block;
		&.keyb {
			border-color: var(--dark-purple);
			background-color: var(--dark-purple);
		}
		&.mouse {
			border-color: var(--info);
			background-color: var(--info);
		}
	}
	
	& pdn-tool {
		vertical-align: middle;
		margin: 0 3px;
		display: inline-block;
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;
		filter: drop-shadow(0 0 1px var(--grey));

		{{ $toolsprite2x := resources.Get "png/tool_sprite.webp" }}
		{{ $pngsprite2x := $toolsprite2x.Resize "82x672 png" }}
		{{ $toolsprite := $toolsprite2x.Resize "41x336 webp" }}
		{{ $pngsprite := $toolsprite2x.Resize "41x336 png" }}

		background-image: url('{{ ($pngsprite | resources.Fingerprint ).RelPermalink }}');
		@media (min-resolution: 144dpi) {
			background-image: url('{{ ($pngsprite2x | resources.Fingerprint ).RelPermalink }}');
			background-size: 41px 336px;
		}

		@supports(background-image: url('{{ ($toolsprite | resources.Fingerprint ).RelPermalink }}')) {
			background-image: url('{{ ($toolsprite | resources.Fingerprint ).RelPermalink }}');
			@media (min-resolution: 144dpi) {
				background-image: url('{{ ($toolsprite2x | resources.Fingerprint ).RelPermalink }}');
			}
		}
		
		&.clonestamp {
			background-position: 0 0;
		}
		&.colorpicker {
			background-position: 0 -17px;
		}
		&.ellipticalselect {
			background-position: 0 -34px;
		}
		&.eraser {
			background-position: 0 -51px;
		}
		&.gradient {
			background-position: 0 -68px;
		}
		&.lassoselect {
			background-position: 0 -85px;
		}
		&.linecurve {
			background-position: 0 -102px;
		}
		&.magicwand {
			background-position: 0 -119px;
		}
		&.movecursor {
			background-position: 0 -136px;
			width: 25px;
			height: 25px;
		}
		&.moveselectedpixels {
			background-position: 0 -247px;
		}
		&.moveselection {
			background-position: -16px -247px;
		}
		&.paintbrush {
			background-position: 0 -162px;
		}
		&.paintbucket {
			background-position: 0 -179px;
		}
		&.pan {
			background-position: -16px -319px;
		}
		&.pencil {
			background-position: 0 -196px;
		}
		&.recolor {
			background-position: 0 -213px;
		}
		&.rectangleselect {
			background-position: 0 -230px;
		}
		&.select {
			background-position: 0 -247px;
			width: 32px;
		}
		&.shapes {
			background-position: 0 -264px;
			width: 41px;
			height: 20px;
		}
		&.text {
			background-position: 0 -285px;
		}
		&.tools {
			background-position: 0 -302px;
		}
		&.view {
			background-position: 0 -319px;
			width: 32px;
		}
		&.zoom {
			background-position: 0 -319px;
		}
	}

	& table {
		display: block;
		max-width: -moz-fit-content;
		max-width: fit-content;
		margin: 0 auto;
		overflow-x: auto;
		border-spacing: 0 1rem;
		& .tip, & .note, & .warning, & .example {
			& p {
				margin-bottom: 0;
			}
		}
		& tbody {
			& tr {
				& td:first-child {
					font-family: var(--font-family-code);	
				}
			}
		}
		&:nth-of-type(2) {
			& tbody {
				& tr {
					& td:nth-child(2) {
						font-family: var(--font-family-code);
						text-align: center;
					}
				}
			}
		}
	}	

	& pdn-level {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		text-align: center;
	}
	& img, & video {
		height: auto;
		max-width: 100%;
	}
	& fieldset {
		border: none;
		display: grid;
		grid-template-columns: .2fr .4fr .4fr;
		column-gap: .5rem;
		row-gap: .5rem;
		& input, & textarea, & button {
			padding: .5rem;
			margin: .2rem;
			grid-column: 2 / 4;
			border-radius: 4px;
			border-width: 1px;
		}
		& label {
			justify-self: end;
			padding: .2rem;
			margin: .2rem;
			font-weight: 700;
		}
		& button {
			grid-column: 2 / 3;
			padding: 1rem;
			background-color: var(--purple);
			color: var(--white);
			border-color: transparent;
			max-width: 10rem;
			cursor: pointer;
		}
		& div {
			justify-self: end;
		}
		@media screen and (max-width: 600px) {
			grid-template-columns: 1fr;
			& input, & label, & textarea, & button {
				grid-column: 1;
				justify-self: start;
				width: 95%;
			}
		}
	}
}

footer {
	margin: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	& a {
		color: var(--text-color);
	}
}

{{ $mainww := resources.Get "png/main_annotation_w.webp" }}
{{ $mainwp := $mainww.Resize "808x622 png" }}
{{ $mainw := resources.Get "png/main_annotation.webp" }}
{{ $mainp := $mainw.Resize "808x622 png" }}
{{ $toolww := resources.Get "png/tool_annotation_w.webp" }}
{{ $toolwp := $toolww.Resize "117x300 png" }}
{{ $toolw := resources.Get "png/tool_annotation.webp" }}
{{ $toolp := $toolw.Resize "117x300 png" }}

img[alt="Pääikkuna"] {
	background-image: url('{{ ($mainwp | resources.Fingerprint ).RelPermalink }}');
	@media (prefers-color-scheme: light) {
		background-image: url('{{ ($mainp | resources.Fingerprint ).RelPermalink }}');
	}
	@supports(background-image: url('{{ ($mainww | resources.Fingerprint ).RelPermalink }}')) {
		background-image: url('{{ ($mainww | resources.Fingerprint ).RelPermalink }}');
		@media (prefers-color-scheme: light) {
			background-image: url('{{ ($mainw | resources.Fingerprint ).RelPermalink }}');
		}
	}
}
img[alt="Työkalut"] {
	background-image: url('{{ ($toolwp | resources.Fingerprint ).RelPermalink }}');
	@media (prefers-color-scheme: light) {
		background-image: url('{{ ($toolp | resources.Fingerprint ).RelPermalink }}');
	}
	@supports(background-image: url('{{ ($toolww | resources.Fingerprint ).RelPermalink }}')) {
		background-image: url('{{ ($toolww | resources.Fingerprint ).RelPermalink }}');
		@media (prefers-color-scheme: light) {
			background-image: url('{{ ($toolw | resources.Fingerprint ).RelPermalink }}');
		}
	}
}

.sr {
	border: none;
    clip: rect(0,0,0,0);
    height: .01em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: .01em;
}

picture {
	display: flex;
	justify-content: center;
}

@media print {
	header, nav {
		display: none;
	}
	main {
		padding: 0;
	}
}

h2#palaute {
	display: none;
}