{{ partialCached "header.html" . }}
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:description" content="{{ .Summary }}" />
	{{- with $.Site.Params.images -}}
	<meta property="og:image" content="{{ index . 0 | absURL }}"/>
	{{ end }}
	<meta property="article:modified_time" {{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | printf "content=%q" | safeHTMLAttr }} />
	<title>{{ .Title }} &middot; {{ .Site.Title }}</title>
</head>
<body>
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<div class="level">
					<div class="level-item"> 
						<a href="/">
							<picture>
								<source type="image/webp" srcset="/resurssit/favicon.webp, /resurssit/favicon@2x.webp 2x">
								<img loading="eager" id="favicon" src="/resurssit/favicon.png" srcset="/resurssit/favicon@2x.png 2x" alt="paint.net logo" width="48" height="48" />
							</picture>
						<h1 class="title">paint.net ohje</h1></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="content">
				<h2>{{ .Title }}{{ if .Params.tooltip }} <span class="tool {{ .Params.tooltip }}"></span>{{ end }}</h2>
				{{ .Content }}
			</div>
			{{ partialCached "footer.html" . }}
		</div>
	</section>
	{{ partialCached "menu.html" . }}
	{{ partialCached "script.html" . }}
</body>
</html>