<!doctype html>
<html lang="fi" class="has-navbar-fixed-top">
<head>
	{{ partialCached "header.html" . }}
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:description" content="{{ .Summary }}" />
	<meta name="description" content="{{ .Summary }}" />
	{{- with $.Site.Params.images -}}
	<meta property="og:image" content="{{ index . 0 | absURL }}"/>
	{{ end }}
	<meta property="article:modified_time" {{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | printf "content=%q" | safeHTMLAttr }} />
	<title>{{ .Title }} &middot; {{ .Site.Title }}</title>
</head>
<body>
	<header class="hero">
		<div class="hero-body level">
			<div class="container level-item"> 
				<a href="/">
					<picture>
						{{ $fav2 := resources.Get "png/favicon.webp" }}
						{{ $fav := $fav2.Resize "48x48" }}
						{{ $png2 := $fav2.Resize "96x96 png" }}
						{{ $png := $fav2.Resize "48x48 png" }}
						<source type="image/webp" srcset="{{ $fav.RelPermalink }}, {{ $fav2.RelPermalink }} 2x">
						<img loading="eager" id="favicon" src="{{ $png.RelPermalink }}" srcset="{{ $png2.RelPermalink }} 2x" alt="paint.net logo" width="{{ $fav.Width }}" height="{{ $fav.Height }}" />
					</picture>
					<h1 class="title">paint.net ohje</h1>
				</a>
			</div>
		</div>
	</header>
	<section class="container section">
		<div class="content">
			<h2>{{ .Title }}{{ if .Params.tooltip }} <span class="tool {{ .Params.tooltip }}"></span>{{ end }}</h2>
			{{ .Content }}
		</div>
		{{ partialCached "footer.html" . }}
	</section>
	{{ partialCached "menu.html" . }}
	{{ partialCached "script.html" . }}
</body>
</html>