
<footer class="footer">
	<div class="content" style="text-align: center;">
		<p>
			<a rel="license nofollow" href="https://creativecommons.org/licenses/by-nc/4.0/">
				<img alt="Creative Commons -lisenssi" src="/resurssit/somerights20.png" />
			</a>
		</p>
		<p>
			<span>paint.net ohje</span>, jonka tekijä on Jarno Ruokamo, on lisensoitu <br/><a rel="license nofollow" href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Nimeä-EiKaupallinen 4.0 Kansainvälinen -lisenssillä</a>.
		</p>
	</div>
</footer>
