<footer class="footer">
	<div class="content">
		<p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text">
			<span rel="dct:title">paint.net ohje</span>, jonka tekijä on
			<a rel="cc:attributionURL" href="https://paintdotnet.netlify.app"><span rel="cc:attributionName">Jarno Ruokamo</span></a>, on lisensoitu CC BY-NC 4.0
			<a href="https://creativecommons.org/licenses/by-nc/4.0">
				<img src="/resurssit/cc40.png" />
			</a>
		</p>
	</div>
</footer>