<!DOCTYPE html>
<html lang="fi">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			
	<title> {{ .Title }} &middot; {{ .Site.Title }} </title>
	
	<meta name="author" content="Jarno Ruokamo">
	<meta name="keywords" content="paint.net,käännös">
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}jquery/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/stylesheet.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/print.css" media="print">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/mobile.css">
	
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicon.png">
</head>
<body>
	<div id="banner">
		<h1><span>paint.net</span> <span id="ohje">Ohje</span></h1>
	</div>
