<!doctype html>
<html lang="fi" class="has-navbar-fixed-top">
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M6Z3D64');</script>
	<!-- End Google Tag Manager -->
	<meta charset="utf-8">
    <meta name="language" content="finnish"> 
	<meta name="author" content="Jarno Ruokamo">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") }}
	{{ $style := resources.Get "scss/style.scss" | resources.ToCSS $options | resources.PostCSS }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}?v=6">
	<link rel="icon" type="image/png" href="/favicon.png">


