<header class="hero">
	<div class="hero-body level">
		<div class="container level-item"> 
			<a href="/">
				<picture>
					{{ $fav2 := resources.Get "png/favicon.webp" }}
					{{ $fav := $fav2.Resize "48x48" }}
					{{ $png2 := $fav2.Resize "96x96 png" }}
					{{ $png := $fav2.Resize "48x48 png" }}
					<source type="image/webp" srcset="{{ $fav.RelPermalink }}, {{ $fav2.RelPermalink }} 2x">
					<img loading="eager" id="favicon" src="{{ $png.RelPermalink }}" srcset="{{ $png2.RelPermalink }} 2x" alt="paint.net logo" width="{{ $fav.Width }}" height="{{ $fav.Height }}" />
				</picture>
				<h1 class="title">paint.net ohje</h1>
			</a>
		</div>
	</div>
</header>