<nav class="bar" aria-label="main navigation">
	<button data-open="0" role="button" aria-label="Avaa valikko" aria-expanded="false" onclick="this.dataset.open = (this.dataset.open === '1') ? '0' : '1'">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span class="sr">Avaa valikko</span>
	</button>
	<ul>
	{{ range $index,$element := .Site.Menus.pdn }}
		<li class="dropdown">
			<span id="{{ .Identifier }}" class="link">{{ .Name }}</span>
			{{ if eq .Identifier "muuta" }}
				<ul class="right">
			{{ else }}
				<ul>
			{{ end }}
			{{ range .Children }}
				<li>
					<a id="{{ .Identifier }}" href="{{ .URL }}">{{ .Name }}</a>
				</li>
				{{ if or (or ( eq .Identifier "savyalat" ) ( eq .Identifier "protokolla" )) ( eq .Identifier "taso_seli" ) }}
					<li class="divider" aria-hidden="true"></li>
				{{ end }}
			{{ end }}
			</ul>
		</div>
	{{ end }}
	</ul>
</nav>