
<figure>
	{{ range split (.Get "src") ";" }}
		{{ $image := resources.Get . }}
		{{ $convert := "" }}
		{{ if in . "img" }}
			{{ $convert = $image.Resize ( printf "%dx%d jpg" $image.Width $image.Height ) }}
		{{ else }}
			{{ $convert = $image.Resize ( printf "%dx%d png" $image.Width $image.Height ) }}
		{{ end }}
		<picture>
			<source type="image/webp" srcset="{{ $image.RelPermalink }}">
			<img loading="lazy" src="{{ $convert.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $.Get "alt" }}">
		</picture>
	{{ end }}
	{{ if isset .Params "title" }}
	<figcaption>
		<strong>{{ .Get "title" }}</strong>
		{{ with .Inner }}
			<p>{{ $.Page.RenderString . }}</p>
		{{ end }}
	</figcaption>
	{{ end }}
</figure>
