
<form name="Palaute" method="POST" data-netlify-recaptcha="true" data-netlify="true" action="/kiitos-palautteesta/" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <label class="label" for="palaute-nimi">Nimi</label>
        <input id="palaute-nimi" name="Nimi" class="input" type="text" placeholder="Nimi">
        <label class="label" for="palaute-email">Sähköposti</label>
        <input id="palaute-email" name="Sähkoposti" class="input" type="text" placeholder="Sähköposti">
        <label class="label" for="palaute-text">Palaute</label>
        <textarea id="palaute-text" name="Palaute" rows="5" class="textarea" placeholder="Palaute"></textarea>
        <button type="submit">Lähetä palaute</button>
        <div data-netlify-recaptcha="true"></div>
    </fieldset>
</form>
