
<form name="Palaute" method="POST" action="https://formsubmit.co/jarno@ruokamo.eu" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <label class="label" for="palaute-nimi">Nimi</label>
        <input id="palaute-nimi" name="Nimi" class="input" type="text" placeholder="Nimi">
        <label class="label" for="palaute-email">Sähköposti</label>
        <input id="palaute-email" name="Sähkoposti" class="input" type="text" placeholder="Sähköposti">
        <label class="label" for="palaute-text">Palaute</label>
        <textarea id="palaute-text" name="Palaute" rows="5" class="textarea" placeholder="Palaute"></textarea>
        <button type="submit">Lähetä palaute</button>
        <input type="hidden" name="_next" value="{{ ref . "kiitos.md" | absURL }}">
        <input type="hidden" name="_subject" value="Palaute">
        <input type="hidden" name="_url" value="https://yourdomain.co/contact.html">
    </fieldset>
</form>
