{{ $data := index .Site.Data (.Get 0) }}
<div id="tabs">
	<ul class="tabs">
	{{ range $data.tab }}
		<li><a href="#{{ .id }}">{{ .name }}</a></li>
	{{ end }}
	</ul>
	<div class="tabcontents">
	{{ range $data.tab }}
		<div id="{{ .id }}">
			{{ if .content }}<p>{{ markdownify .content }}</p>{{ end }}
			{{ range .figure }}
				<figure class="{{ .class }}">
					<img src="{{ .src }}" alt="{{ .alt }}">
					<figcaption>
						<h4>{{ .caption }}</h4>
					</figcaption>
				</figure>
			{{ end }}
			{{ if .vihje }}
			<div class="tip">
				<h3>Vihje</h3>
				<p>{{ .vihje }}</p>
			</div>
			{{ end }}
		</div>
	{{ end }}
	</div>
</div>

<script type="text/javascript" src="/js/tabcontent.js"></script>